.profileContainer {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profileContainer h1 {
    color: #574f7d;
    margin-bottom: 1rem;
}

.profileContainer p {
    color: #3c2a4d;
}
